*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "guanabara-sans-4-3";
  src: url("./fonts/Guanabara Sans Black.otf") format("woff"),
    url("./fonts/Guanabara Sans Black.otf") format("opentype"),
    url("./fonts/Guanabara Sans Black.otf") format("truetype");
}
body {
  background-color: #f2f2f2;
  font-family: "guanabara-sans-4-3", sans-serif;
}
.container {
  margin-top: 100px;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container > div {
  padding-left: 43px;
}

.sedans {
  background-color: #e28525;
  padding: 35px;
  border-radius: 10px 0 0 10px;
}

.suvs {
  background-color: #016972;
  padding: 35px;
}

.luxury {
  background-color: #00403f;
  padding: 35px;
  border-radius: 0 10px 10px 0;
}

img {
  margin-top: 20px;
  margin-bottom: 35px;
}
h1 {
  margin-bottom: 35px;
  color: #f2f2f2;
  font-size: 35px;
}

.description {
  margin-bottom: 100px;
  color: #f2f2f2;
  line-height: 1.4;
  font-size: 18px;
}

button {
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 19px;
  border-style: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  margin-bottom: 15px;
}
.button-sedans {
  color: #e28525;
}
.button-suns {
  color: #016972;
}
.button-luxury {
  color: #00403f;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
}
